---
pagination:
  data: collections.bookmarks_archivePages
  size: 1
  alias: p
permalink: "{{archiveUrlPrefix}}/{{ p.name }}/index{% if p.page %}{{ p.page + 1 }}{% endif %}.html"
layout: "collection.njk"
archiveUrlPrefix: "/posts/bookmarks"
eleventyComputed:
   title: "Archives for {{ p.name }} (Links)"
---

{% include 'archive.njk' %}
