---
title: Links
description: |
  A pile of links that I have found interesting for one reason or another. 
  This is meant to be a much more ephemeral feed than the others - posts may
  disappear over time as they become less interesting to me.
pagination:
  data: collections.bookmarks
  size: 25
permalink: "/posts/bookmarks/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_bookmarks.xml"
tagurl: "/posts/bookmarks/tags/"
archiveurl: "/posts/bookmarks/archives/"
navname: links
---

{% include "feed-list.njk" %}