---
layout: "collection.njk"
breadcumbOptions:
  listClass: breadcrumbs
  listItemClass: breadcrumbs__item
  anchorClass: breadcrumbs__anchor
---

{% if key and parent %}
Posted in {{ collections.albumNav | eleventyNavigationBreadcrumb(key) | eleventyNavigationToHtml(breadcumbOptions) | safe }}
{% endif %}

{% set enhancedAlbums = collections.albumNav | eleventyNavigation(key) | enhanceNavigation(collections.albumNav) %}

{{ content | safe }}

<p>{{ enhancedAlbums.length }} albums</p>
<ul class="content-list">
{% asyncEach album in enhancedAlbums %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
  <article>
    <h2 class="entry__title"><a href="{{ album.url }}" class="entry__titlelink">{{ album.title }}</a></h2>
    <div>
      {{ album.content | safe }}
      <a href="{{ album.url }}">
        {% image album.featured.value, album.featured.alt, "u-featured entry__photo image"  %}
      </a>
    </div>
  </article>
</li>
{% endeach %}
</ul>
