---
breadcumbOptions:
  listClass: breadcrumbs
  listItemClass: breadcrumbs__item
  anchorClass: breadcrumbs__anchor
---

{% extends "base.njk" %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% from "entry-header.njk" import entryheader %}

{% block content %}
<main class="main">
<article class="h-entry entry">
  
  {% for mention in bridgyMentions %}
  <a href="{{mention}}"></a>
  {% endfor %}
  
  {{ entryheader(wmresults, date, page.url, navigation, postType, title, 1) }}

  {% if blurb %}
    <div class="p-summary" style="display: none">
    {{ blurb }}
    </div>
  {% endif %}
  
  <div class="e-content entry__content entry__photo">
    <div class="entry__text">
      {% if eleventyNavigation.parent %}
      Posted in {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml(breadcumbOptions) | safe }}
      {% endif %}
      {{ content | safe }}

      {% set enhancedAlbums = collections.all | eleventyNavigation(eleventyNavigation.key) | enhanceNavigation(collections.all) %}
      <p>{{ enhancedAlbums.length }} albums</p>
    </div>

    <ul class="content-list">
    {% asyncEach album in enhancedAlbums | reverse %}
    <li class="content-list__item content-list__item--separator content-list__item--spacious">
      <article>
        <div class="entry__text">
          <h2 class="entry__title"><a href="{{ album.url }}" class="entry__titlelink">{{ album.title }}</a></h2>
        
          {{ album.content | safe }}
          
          {% if album.photo %}
          <p>{{ album.photo | length }} photos</p>
          {% else %}
          <p>{{ album.children | length }} albums</p>
          {% endif %}
        </div>

        {% if album.featured %}
        <a href="{{ album.url }}">
          {% image album.featured.value, album.featured.alt, "u-featured entry__photo image"  %}
        </a>
        {% endif %}
        
      </article>
    </li>
    {% endeach %}
    </ul>
  </div>

  {% set url = page.url | stripExt %}
  {% set discussion = url | discussionForUrl(allstaticman, webmentions.children) %}
  {% include "entry-footer.njk" %}
  {% include "discussion.njk" %}
</article>
</main>
{% endblock %}
