---
layout: "collection.njk"
breadcumbOptions:
  listClass: breadcrumbs
  listItemClass: breadcrumbs__item
  anchorClass: breadcrumbs__anchor
---

{% if key and parent %}
Posted in {{ collections.albumNav | eleventyNavigationBreadcrumb(key) | eleventyNavigationToHtml(breadcumbOptions) | safe }}
{% endif %}

{% set enhancedAlbums = collections.albumNav | eleventyNavigation(key) | enhanceNavigation(collections.albumNav) %}

{{ content | safe }}

<p>
  {{ enhancedAlbums.length }} albums
</p>

 <div class="album-grid">
  {% asyncEach album in enhancedAlbums %}
  <div class="entry h-entry album-grid__item">
    <p class="album-grid__title">
      {{ album.title }}
    </p>
    <a href="{{ album.url }}">
      {% bigthumb album.featured.value, album.featured.alt, "u-photo image album-grid__cover"  %}
    </a>
    {{ album.content | safe }}
  </div>
  {% endeach %}
</div>
