{% if photo  %}
{% icon photo , "", "u-photo avatar", "if (this.src != '/static/img/avatar.png') this.src = '/static/img/avatar.png';" %} 
{% else %}
<img src="'/static/img/avatar.png" class="u-photo avatar"/>
{% endif %}
