{% from "pagetitle.njk" import pagetitle %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <title>
    {% block title %}
    {{ pagetitle(title, postType, content) }} - {{ global.SITENAME }}
    {% endblock %}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

  {% if global.AUTHOR %}
  <meta name="author" content="{{ global.AUTHOR }}" />
  {% endif %}

  {% block metadata %}
  {% if description %}
  {% set m_description = description | striptags | escape | truncate(160) %}
  {% else %}
  {% set m_description = content | striptags | escape | truncate(160) %}
  {% endif %}

  {% set m_title = title | striptags | escape %}

  {% if image %}
    {% set m_image = image | aUrl %}
  {% elif featured %}
    {% set m_image = featured.value or featured | aUrl %}
  {% elif photo %}
    {% set m_image = (photo[0].value or photo[0]) | aUrl %}
  {% elif thumb %}
    {% set m_image = thumb | aUrl %}
  {% elif OPEN_GRAPH_IMAGE %}
    {% set m_image = OPEN_GRAPH_IMAGE | aUrl %}
  {% endif %}

  <meta name="description" content="{{ m_description }}" />

  {# Open graph #}
  <meta property="og:site_name" content="{{ global.SITENAME }}" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ m_title }}"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta property="og:description" content="{{ m_description }}" />
  {% if m_image %}
  <meta property="og:image" content="{{ m_image }}"/> 
  {% endif %}

  {% endblock %}

  {% if global.FAVICON %}
  <link href="{{ global.FAVICON }}" rel="icon">
  {% endif %}
  {% if global.TOUCHICON %}
  <link rel="apple-touch-icon" href="{{ global.TOUCHICON }}">
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans&display=swap" rel="stylesheet"/>
  <link href="https://unpkg.com/prismjs@1.27.0/themes/prism-okaidia.css" rel="stylesheet">

  <link href="{{ '/static/theme.css' | cachebust(global.URL, 'src/static/theme.css')}}" rel="stylesheet">
  <link href="{{ '/static/settings.css' | cachebust(global.URL, 'src/static/settings.css')}}" rel="stylesheet">
  <link href="{{ '/static/utils.css' | cachebust(global.URL, 'src/static/utils.css')}}" rel="stylesheet">
  <link href="{{ '/static/site.css' | cachebust(global.URL, 'src/static/site.css') }}" rel="stylesheet">
  <link href="{{ '/static/tablet.css' | cachebust(global.URL, 'src/static/tablet.css')}}" rel="stylesheet">
  <link href="{{ '/static/desktop.css' | cachebust(global.URL, 'src/static/desktop.css')}}" rel="stylesheet">
  {% block extrastyle %}{% endblock %}
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">

  {% if global.AUTH_ENDPOINT %}
  <link rel="authorization_endpoint" href="{{ global.AUTH_ENDPOINT }}"/>
  {% endif %}

  {% if global.TOKEN_ENDPOINT %}
  <link rel="token_endpoint" href="{{ global.TOKEN_ENDPOINT }}"/>
  {% endif %}
  
  {% if global.MICROPUB_ENDPOINT %}
  <link rel="micropub" href="{{ global.MICROPUB_ENDPOINT }}"/>
  {% endif %}

  {% if global.MICROSUB_ENDPOINT %}
  <link rel="microsub" href="{{ global.MICROSUB_ENDPOINT }}"/>
  {% endif %}

  {% if global.WEBMENTION_ENDPOINT %}
  <link rel="webmention" href="{{ global.WEBMENTION_ENDPOINT }}"/>
  {% endif %}

  {% block extralink %}{% endblock %}

  {% for script in scripts %}
  <script type="{{script.type}}" src="{{script.src}}"></script>
  {% endfor %}
  <script defer src="https://analytics.us.umami.is/script.js" data-website-id="6342d1a0-d5b3-469a-a22d-16844ec3d0e3"></script>
</head>
<body>
  {% block underbody %}{% endblock %}
  
  <header class="main-header">
    <nav class="navbar row" aria-label="main navigation">
      <div class="navbar__brand row">
        <img src="/static/img/nav02.jpg" class="u-photo navbar__avatar" alt="Me" title="Me"/>
        <a href="/" class="navbar__link">{{ global.SITENAME }}</a>
      </div>
      <ul class="row row__item--right">
        <li><a href="/posts/" class="navbar__link">Posts</a></li>
        <li><a href="https://garden.desmondrivet.com/" class="navbar__link">Garden</a></li>
      </ul>
    </nav>  
  </header>
  
  {% block secondarynav %}{% endblock %}

  {% block content %}{% endblock %}
    
  <footer class="main-footer">
    <div class="main-footer__content">
      <div class="row">
        &copy;2024 by <a href="/">{{ global.AUTHOR }}</a>
        <span class="row__item--right">
          <a href="https://github.com/drivet/website-11ty/edit/main/{{page.inputPath}}">Edit</a>
          &middot;
          <i class="fa fa-arrow-up"></i> <a href="#">Top</a>
        </span>
      </div>
      <div class="row">
          Powered by <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>
           <span class="row__item--right">
          {% include "webring.njk" %}
          &middot;
          {% include "geekring.njk" %}
          </span>
      </div>
    </div>
  </footer>
</body>
</html>
