{% extends "base.njk" %}

{% block secondarynav %}
<header class="secondary-header">
  <nav class="navbar" aria-label="feed navigation">
    <ul class="row">
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'all' }}">
        <a href="/posts/" class="navbar__link row row--comfy">
          <i class="fa fa-list"></i> <span class="feed__navname">All</span>
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'notes' }}">
        <a href="/posts/notes" class="navbar__link row row--comfy">
          <i class="far fa-sticky-note"></i> <span class="feed__navname">Notes</span>
        </a>
      </li>    
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'photos' }}">
        <a href="/posts/photos" class="navbar__link row row--comfy">
          <i class="far fa-image"></i> <span class="feed__navname">Photos</span>
        </a>
      </li> 
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'blog' }}">
        <a href="/posts/articles" class="navbar__link row row--comfy">
          <i class="fa fa-newspaper"></i> <span class="feed__navname">Blog</span>
        </a>
      </li>  
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'replies' }}">
        <a href="/posts/replies" class="navbar__link row row--comfy">
          <i class="fa fa-comment"></i> <span class="feed__navname">Replies</span>
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'likes' }}">
        <a href="/posts/likes" class="navbar__link row row--comfy">
          <i class="fa fa-heart"></i> <span class="feed__navname">Likes</span>
        </a>
      </li>  
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'reposts' }}">
        <a href="/posts/reposts" class="navbar__link row row--comfy">
          <i class="fa fa-retweet"></i> <span class="feed__navname">Reposts</span>
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'links' }}">
        <a href="/posts/bookmarks" class="navbar__link row row--comfy">
          <i class="far fa-bookmark"></i> <span class="feed__navname">Links</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}
