{% from "pagetitle.njk" import pagetitle %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <title>
    {% block title %}
    {{ pagetitle(title, postType, content) }} - {{ global.SITENAME }}
    {% endblock %}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

  {% if global.AUTHOR %}
  <meta name="author" content="{{ global.AUTHOR }}" />
  {% endif %}

  {% block metadata %}
  {% if description %}
  {% set m_description = description | striptags | escape | truncate(160) %}
  {% else %}
  {% set m_description = content | striptags | escape | truncate(160) %}
  {% endif %}

  {% set m_title = title | striptags | escape %}

  {% if image %}
    {% set m_image = image | aUrl %}
  {% elif featured %}
    {% set m_image = featured.value or featured | aUrl %}
  {% elif photo %}
    {% set m_image = (photo[0].value or photo[0]) | aUrl %}
  {% elif thumb %}
    {% set m_image = thumb | aUrl %}
  {% elif OPEN_GRAPH_IMAGE %}
    {% set m_image = OPEN_GRAPH_IMAGE | aUrl %}
  {% endif %}

  <meta name="description" content="{{ m_description }}" />

  {# Open graph #}
  <meta property="og:site_name" content="{{ global.SITENAME }}" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ m_title }}"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta property="og:description" content="{{ m_description }}" />
  {% if m_image %}
  <meta property="og:image" content="{{ m_image }}"/> 
  {% endif %}

  {% endblock %}

  {% if global.FAVICON %}
  <link href="{{ global.FAVICON }}" rel="icon">
  {% endif %}
  {% if global.TOUCHICON %}
  <link rel="apple-touch-icon" href="{{ global.TOUCHICON }}">
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans&display=swap" rel="stylesheet"/>
  <link href="https://unpkg.com/prismjs@1.27.0/themes/prism-okaidia.css" rel="stylesheet">

  <link href="{{ '/static/theme.css' | cachebust(global.URL, 'static/theme.css')}}" rel="stylesheet">
  <link href="{{ '/static/settings.css' | cachebust(global.URL, 'static/settings.css')}}" rel="stylesheet">
  <link href="{{ '/static/utils.css' | cachebust(global.URL, 'static/utils.css')}}" rel="stylesheet">
  <link href="{{ '/static/site.css' | cachebust(global.URL, 'static/site.css') }}" rel="stylesheet">
  <link href="{{ '/static/tablet.css' | cachebust(global.URL, 'static/tablet.css')}}" rel="stylesheet">
  <link href="{{ '/static/desktop.css' | cachebust(global.URL, 'static/desktop.css')}}" rel="stylesheet">
  {% block extrastyle %}{% endblock %}
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">

  {% if global.AUTH_ENDPOINT %}
  <link rel="authorization_endpoint" href="{{ global.AUTH_ENDPOINT }}"/>
  {% endif %}

  {% if global.TOKEN_ENDPOINT %}
  <link rel="token_endpoint" href="{{ global.TOKEN_ENDPOINT }}"/>
  {% endif %}
  
  {% if global.MICROPUB_ENDPOINT %}
  <link rel="micropub" href="{{ global.MICROPUB_ENDPOINT }}"/>
  {% endif %}

  {% if global.MICROSUB_ENDPOINT %}
  <link rel="microsub" href="{{ global.MICROSUB_ENDPOINT }}"/>
  {% endif %}

  {% if global.WEBMENTION_ENDPOINT %}
  <link rel="webmention" href="{{ global.WEBMENTION_ENDPOINT }}"/>
  {% endif %}

  {% block extralink %}{% endblock %}

  {% for script in scripts %}
  <script type="{{script.type}}" src="{{script.src}}"></script>
  {% endfor %}
  <script defer src="https://analytics.us.umami.is/script.js" data-website-id="6342d1a0-d5b3-469a-a22d-16844ec3d0e3"></script>
</head>
<body>
  {% block underbody %}{% endblock %}
  
  <header class="main-header">
    <nav class="navbar row" aria-label="main navigation">
      <div class="navbar__brand row">
        <img src="/static/img/nav02.jpg" class="u-photo navbar__avatar" alt="Me" title="Me"/>
        <a href="/" class="navbar__link">{{ global.SITENAME }}</a>
      </div>
      <ul class="row row__item--right">
        <li><a href="/posts/" class="navbar__link">Posts</a></li>
        <li><a href="https://garden.desmondrivet.com/" class="navbar__link">Garden</a></li>
      </ul>
    </nav>  
  </header>
  
  {% if secondarynav %}
  <header class="secondary-header">
    <nav class="navbar secondary-header__navbar" aria-label="feed navigation">
      <ul class="feed__navbarlist">
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'all' }}">
          <a href="/posts/" class="navbar__link row-inline row--comfy">
            <i class="fa fa-list"></i> <span class="feed__navname">All</span>
          </a>
        </li>
         <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'articles' }}">
          <a href="/posts/articles" class="navbar__link row-inline row--comfy">
            <i class="fa fa-newspaper"></i> <span class="feed__navname">Articles</span>
          </a>
        </li>
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'notes' }}">
          <a href="/posts/notes" class="navbar__link row-inline row--comfy">
            <i class="far fa-sticky-note"></i> <span class="feed__navname">Notes</span>
          </a>
        </li>    
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'photos' }}">
          <a href="/posts/photos" class="navbar__link row-inline row--comfy">
            <i class="far fa-image"></i> <span class="feed__navname">Photos</span>
          </a>
        </li>
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'albums' }}">
          <a href="/posts/albums" class="navbar__link row-inline row--comfy">
            <i class="fa fa-camera"></i> <span class="feed__navname">Albums</span>
          </a>
        </li>
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'replies' }}">
          <a href="/posts/replies" class="navbar__link row-inline row--comfy">
            <i class="fa fa-comment"></i> <span class="feed__navname">Replies</span>
          </a>
        </li>
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'likes' }}">
          <a href="/posts/likes" class="navbar__link row-inline row--comfy">
            <i class="far fa-thumbs-up"></i> <span class="feed__navname">Likes</span>
          </a>
        </li>  
        <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'reposts' }}">
          <a href="/posts/reposts" class="navbar__link row-inline row--comfy">
            <i class="fa fa-retweet"></i> <span class="feed__navname">Reposts</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  {% endif %}

  {% block content %}{% endblock %}
    
  <footer class="main-footer">
    <div class="main-footer__content">
      <div>&copy;2025 by <a href="/">{{ global.AUTHOR }}</a>
        <span class="center">&middot;</span>
        <a href="https://github.com/drivet/website-11ty/edit/main/{{page.inputPath}}">Edit</a>
      </div>
      <div>
      <div title="indiewebring">
        <a href="https://xn--sr8hvo.ws/%F0%9F%93%95%F0%9F%94%9F%F0%9F%99%85/previous">←</a>
        <a href="https://xn--sr8hvo.ws">IndieWeb Webring 🕸</a>
        <a href="https://xn--sr8hvo.ws/%F0%9F%93%95%F0%9F%94%9F%F0%9F%99%85/next">→</a>  
      </div>
      </div>
      <div>
      <span title="geekring">
        <a href="http://geekring.net/site/368/previous">←</a>
        <a href="http://geekring.net/site/368/random">Geekring &#x1f913;</a>
        <a href="http://geekring.net/site/368/next">→</a>
      </span>
      </div>
    </div>
  </footer>
</body>
</html>
