{% extends "base.njk" %}

{% block secondarynav %}
<header class="secondary-header">
  <nav class="navbar feed__navbar row row--wrap" role="navigation" aria-label="feed navigation">
    <ul class="navbar__group"> 
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'posts' }}"><a href="/posts/index.html" class="navbar__link">Posts</a></li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'blog' }}"><a href="/posts/blog.html" class="navbar__link">Blog</a></li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'links' }}"><a href="/posts/bookmarks.html" class="navbar__link">Links</a></li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'all' }}"><a href="/posts/all.html" class="navbar__link">All</a></li>
    </ul>
    <ul class="navbar__group navbar__group--right">
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'tags' }}"><a href="/posts/tags/" class="navbar__link">Tags</a></li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'archives' }}"><a href="/posts/archives/" class="navbar__link">Archives</a></li>
    </ul>
  </nav>
</header>
{% endblock %}
