{% extends "base.njk" %}

{% block secondarynav %}
<header class="secondary-header">
  <nav class="navbar" aria-label="feed navigation">
    <ul class="row"> 
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'posts' }}">
        <a href="/posts/" class="navbar__link row--comfy">
          <i class="far fa-sticky-note"></i> Posts
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'blog' }}">
        <a href="/posts/blog" class="navbar__link row--comfy">
          <i class="far fa-newspaper"></i> Blog
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'links' }}">
        <a href="/posts/bookmarks" class="navbar__link row--comfy">
          <i class="far fa-bookmark"></i> Links
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'all' }}">
        <a href="/posts/all" class="navbar__link row--comfy">
          <i class="fa fa-list"></i>All
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'tags' }}">
        <a href="/posts/tags/" class="navbar__link row--comfy">
          <i class="fa fa-tags"></i> Tags
        </a>
      </li>
      <li class="feed__navbaritem {{'feed__navbaritem--active' if navname == 'archives' }}">
        <a href="/posts/archives/" class="navbar__link row--comfy">
          <i class="fa fa-archive"></i> Archives
        </a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}
