{% if section == "posts" %}
{% extends "blogbase.njk" %}
{% else %}
{% extends "base.njk" %}
{% endif %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %}
<main class="main">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>
{% endblock content %}
