{% extends "base.njk" %}

{% block metadata %}
<meta name="robots" content="noindex,follow" />
{{ super() }}
{% endblock %}

{% block content %}
<main class="main">
  <div class="text">
    <h1>{{ title }}</h1>
  </div>
  {{ content | safe }}
</main>
{% endblock content %}
