<article class="h-entry entry">
  <header class="entry__header">
     <h2 class="entry__title p-name"><a href="{{ post.url | stripExt }}" class="entry__titlelink">{{ post.data.title }}</a></h2>  
  </header>
</article>
