{% set mentions =  discussion.commentsAndMentions %}
{% set likes = discussion.likes %}
{% set reposts = discussion.reposts %}
{% set bookmarks = discussion.bookmarks %}
<footer class="entry__footer"> 
    {% set syndications = wmresults | syndicationsForUrl(url | stripExt) %}  
    {% if tags or syndications %}
  
    <div class="entry__footerline row">
      {% if tags | length > 0 %}
      <div class="row">
        {% for tag in tags %}
        <a class="p-category post-tag" href="/posts/tags/{{tag}}.html">#{{ tag }}</a>
        {% endfor %}
      </div>
      
      {% if syndications | length > 0 %}
      &middot;
      {% endif %}

      {% endif %}
      
      {% if syndications | length > 0 %}
      <div class="row">
        {% for s in syndications %}
        <a class="u-syndication" href="{{ s }}" title="Syndicated"><i class="{{ s | synicon }}"></i></a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    
    {% endif %}
    <div class = "entry__footerline row row--extra-spacious"> 
      <a class="row entry__footerlink" href="{{ url }}#wm-mentions" title="Comments and Mentions"><i class="far fa-comment"></i> {{ mentions | length }}</a>
      <a class="row entry__footerlink" href="{{ url }}#wm-likes" title="Likes"><i class="far fa-thumbs-up"></i> {{ likes | length }}</a>
      <a class="row entry__footerlink" href="{{ url }}#wm-reposts" title="Reposts"><i class="fa fa-retweet"></i>  {{ reposts | length }}</a>
      <a class="row entry__footerlink" href="{{ url }}#wm-bookmarks" title="Bookmarks"><i class="fa fa-bookmark"></i> {{ bookmarks | length }}</a>
    </div>
  
</footer>
