 <footer class="entry__footer">
    {% set allmentions = webmentions.children | webmentions_for_url(url) %}
    {% set mentions = allmentions | webmention_kind('in-reply-to', 'mention-of')%}
    {% set likes = allmentions | webmention_kind('like-of') %}
    {% set reposts = allmentions | webmention_kind('repost-of') %}
    {% set bookmarks = allmentions | webmention_kind('bookmark-of') %}
    {% set syndications = wmresults | syndications_for_url(url) %}
    
    {% if tags %}
    <div class="entry__footerline row--spacious">
       <span title="Tags"><i class="fa fa-tag fa-flip-horizontal"></i>
       {% set comma = joiner() %}
       {% for tag in tags %}
       {{ comma() }} <a class="p-category" href="/posts/tags/{{tag}}.html"> {{ tag }} </a>
       {% endfor %}
       </span>
    </div>
    {% endif %}
    <div class="entry__footerline row--spacious">
      <div class = "rowitem row--spacious">
        <a class="wm-counter" href="{{ url }}#wm-mentions" title="Mentions"><i class="far fa-comment"></i> {{ mentions | length }}</a>
        <a class="wm-counter" href="{{ url }}#wm-likes" title="Likes"><i class="far fa-thumbs-up"></i> {{ likes | length }}</a>
        <a class="wm-counter" href="{{ url }}#wm-reposts" title="Reposts"><i class="fa fa-retweet"></i>  {{ reposts | length }}</a>
        <a class="wm-counter" href="{{ url }}#wm-bookmarks" title="Bookmarks"><i class="fa fa-bookmark"></i> {{ bookmarks | length }}</a>
      </div>
      <div class="rowitem--right row--spacious">
        {% for s in syndications %}
        <a class="u-syndication entry__link" href="{{ s }}" title="Syndicated"><i class="{{ s | synicon }}"></i></a>
        {% endfor %}
        <a class="u-url entry__link" href="{{ url }}" title="Permalink"><i class="fa fa-link"></i></a>
      </div>
    </div>
</footer>

{% if expand and ((mentions | length > 0) or (likes | length > 0) or (reposts | length > 0) or (bookmarks | length > 0)) %}
{% if mentions.length > 0 %}
<section class="wm-group wm-mentions">
  <h1 id="wm-mentions" class="wm-group--header">Mentions</h1>
  <ul class="wm-group--list"> 
    {% for link in mentions %}
    <li class="wm-group--mention-item">
    {% include 'mention.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if likes.length > 0 %}
<section class="wm-group">
  <h1 id="wm-likes" class="wm-group--header">Likes</h1>
  <ul class="wm-group--list"> 
    {% for link in likes %}
    <li class="wm-group--item">
    {% include 'link.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if reposts.length > 0 %}
<section class="wm-group">
  <h1 id="wm-reposts" class="wm-group--header">Reposts</h1>
  <ul class="wm-group--list">
    {% for link in reposts %}
    <li class="wm-group--item">
    {% include 'link.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if bookmarks.length > 0 %}
<section class="wm-group">
  <h1 id="wm-bookmarks" class="wm-group--header">Bookmarks</h1>
  <ul class="wm-group--list">
    {% for link in bookmarks %}
    <li class="wm-group--item">
    {% include 'link.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% endif %}
