 <footer class="entry__footer">
    {% set allmentions = webmentions.children | webmentionsForUrl(url) %}
    {% set mentions = allmentions | webmentionKind('in-reply-to', 'mention-of')%}
    {% set likes = allmentions | webmentionKind('like-of') %}
    {% set reposts = allmentions | webmentionKind('repost-of') %}
    {% set bookmarks = allmentions | webmentionKind('bookmark-of') %}
  
    {% set syndications = wmresults | syndicationsForUrl(url | stripExt) %}  
    {% if tags or syndications %}
    <p>
      <div class="row">
        {% if tags | length > 0 %}
        <div class="row">
          {% for tag in tags %}
          <a class="p-category post-tag" href="/posts/tags/{{tag}}.html">#{{ tag }}</a>
          {% endfor %}
        </div>
        
        {% if syndications | length > 0 %}
        &middot;
        {% endif %}

        {% endif %}
        
        {% if syndications | length > 0 %}
        <div class="row">
          {% for s in syndications %}
          <a class="u-syndication" href="{{ s }}" title="Syndicated"><i class="{{ s | synicon }}"></i></a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </p>
    {% endif %}

    <p>
      <div class = "row row--extra-spacious">
        <a class="row entry__footerlink" href="{{ url }}#wm-mentions" title="Mentions"><i class="far fa-comment"></i> {{ mentions | length }}</a>
        <a class="row entry__footerlink" href="{{ url }}#wm-likes" title="Likes"><i class="far fa-thumbs-up"></i> {{ likes | length }}</a>
        <a class="row entry__footerlink" href="{{ url }}#wm-reposts" title="Reposts"><i class="fa fa-retweet"></i>  {{ reposts | length }}</a>
        <a class="row entry__footerlink" href="{{ url }}#wm-bookmarks" title="Bookmarks"><i class="fa fa-bookmark"></i> {{ bookmarks | length }}</a>
      </div>
    </p>
</footer>

{% if expand and ((mentions | length > 0) or (likes | length > 0) or (reposts | length > 0) or (bookmarks | length > 0)) %}
{% if mentions.length > 0 %}
<section class="wm-group">
  <h1 id="wm-mentions">Mentions</h1>
  <ul class="content-list"> 
    {% for link in mentions %}
    <li class="content-list__item content-list__item--separator">
    {% include 'mention.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if likes.length > 0 %}
<section class="wm-group">
  <h1 id="wm-likes">Likes</h1>
  <ul class="content-list"> 
    {% for link in likes %}
    <li class="content-list__item content-list__item--compact">
    {% include 'link.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if reposts.length > 0 %}
<section class="wm-group">
  <h1 id="wm-reposts">Reposts</h1>
  <ul class="content-list">
    {% for link in reposts %}
    <li class="content-list__item content-list__item--compact">
    {% include 'link.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if bookmarks.length > 0 %}
<section class="wm-group">
  <h1 id="wm-bookmarks" class="wm-group--header">Bookmarks</h1>
  <ul class="content-list">
    {% for link in bookmarks %}
    <li class="content-list__item content-list__item--compact">
    {% include 'link.njk' %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% endif %}
