{% extends "base.njk" %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %}
<section class="h-feed feed"> 
  <header class="feed__header">
    <nav class="row row--wrap" role="navigation" aria-label="main navigation">
      <ul class="navbar__group"> 
        <li><a href="/posts/index.html" class="navbar__link">Blog</a></li>
        <li><a href="/posts/bookmarks.html" class="navbar__link">Bookmarks</a></li>
        <li><a href="/posts/all.html" class="navbar__link">Everything</a></li>
      </ul>
      <ul class="navbar__group navbar__group--right">
        <li><a href="/posts/tags/" class="navbar__link">Tags</a></li>
        <li><a href="/posts/archives/" class="navbar__link">Archives</a></li>
      </ul>
    </nav>
    <h1 class="feed__title">{{ title }}</h1>
  </header>
{{ content | safe }}
</section>
{% endblock content %}
