{% macro author(author) %}
{% if author.photo %}
  <img alt="author photo" src="{{ author.photo }}" class="u-photo avatar"/>
{% endif %}
{% if author.name and author.url %}
  <a href="{{author.url}}">{{author.name}}</a>
{% elif author.url %}
  <a href="{{author.url}}">{{author.url}}</a>
{% elif author.name %}
  {{author.name}}
{% endif %}
{% endmacro %}

{% set meta = preview_data.meta %}
<blockquote cite="{{ link }}" class="h-cite cite link-context__indieweb_context">

{% if meta.published %}
{% set published = meta.published %}
{% elif meta["published-str"] %}
{% set published = meta["published-str"] %}
{% endif %}

{% if meta.author or published %}
<section class="row">
{% if meta.author and published %}
{{ author(meta.author) }} on {{ published | date }}
{% elif meta.author %}
{{ author(meta.author) }}
{% elif published %}
{{ published | date }}
{% endif %}
</section>
{% endif %}

{% if meta.name %}<h1><strong>{{ meta.name }}</strong></h1>{% endif %}

{% if meta.summary %}
{{ meta.summary }}
{% elif meta['content-plain'] %}
{{ meta['content-plain'] | truncate }}
{% endif %}
</blockquote>
