{% from "avatar.njk" import avatar %}
<article class="wm-link row"> 
  <a href="{{ link.url }}"><i class="fas fa-external-link-alt"></i></a>
  {{ avatar(link.author.photo) }}
  <a href="{{ link.author.url }}">{{link.author.name}}</a>
</article>
