<article class="wm-link row"> 
  <a href="{{ link.url }}"><i class="fas fa-external-link-alt"></i></a>
  {% avatar link.author.photo, link.author.name %} 
  <a href="{{ link.author.url }}">{{link.author.name}}</a>
</article>
