<meta property="og:site_name" content="{{ global.SITENAME }}" />
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ m_title }}"/>
<meta property="og:url" content="{{ page.url }}"/>
<meta property="og:description" content="{{ m_description }}" />

{% if m_image %}
<meta property="og:image" content="{{ m_image }}"/> 
{% endif %}
