{% extends "base.njk" %}

{% block content %}
<main class="main">
<div class="entry__text">
    {% if title  %}
    <h1>{{ title }}</h1>
    {% endif %}

    {{ content | safe }}
</div>
</main>
{% endblock %}
