{% extends "base.njk" %}

{% block content %}
<article>
  <header>
    {% if title  %}
    <h1 class="main__title">{{ title }}</h1>
    {% endif %}
  </header>
  {{ content | safe }}
</article>
{% endblock %}
