<nav class="feed__pagenav">
{% if pagination.href.previous %}
<a href="{{ pagination.href.previous }}" class="feed__prevlink">&laquo; Previous</a>
{% endif %}

{% if pagination.href.next %}
<a href="{{ pagination.href.next }}" class="feed__nextlink">Next &raquo;</a>
{% endif %}
</nav>
