{% macro photo(photoArr) %}
{% for photoObj in photoArr %}
{% if photoObj.value and photoObj.alt %} 
<img src="{{ photoObj.value }}" alt="{{ photoObj.alt }}" class="u-photo entry__photo image"/>
{% elif photoObj.value %}
<img alt="post photo" src="{{ photoObj.value }}" class="u-photo entry__photo image"/>
{% else %}
<img alt="post photo" src="{{ photoObj }}" class="u-photo entry__photo image"/>
{% endif %}
{% endfor %}
{% endmacro %}
