{% set classes = "u-photo entry__photo image" %}
{% if photoArg %}
  {% if photoArg is string %}
    {% image photoArg, "post photo", classes %}
  {% else %}
    {% for photoObj in photoArg %}
      {% if photoObj.value and photoObj.alt %}
        {% image photoObj.value, photoObj.alt, classes %}
      {% elif photoObj.value %}
        {% image photoObj.value, "post photo", classes %}
      {% else %}
        {% image photoObj, "post photo", classes %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

