{% extends "blogbase.njk" %}

{% from "photo.njk" import photo as photom %}
{% from "reflink.njk" import reflink %}
{% from "entry-header.njk" import entryheader %}

{% block content %}
<main class="main">
<div class="h-entry entry">
  
  {% for mention in bridgyMentions %}
  <a href="{{mention}}"></a>
  {% endfor %}
  
  {{ entryheader(wmresults, date, page.url, title, 1) }}
  
  {% if blurb %}
    <div class="p-summary" style="display: none">
    {{blurb}}
    </div>
  {% endif %}

  {{ reflink(postType, referencedLink) }}
  
  <div class="e-content">
    {{ content | safe }}  
    {{ photom(photo) }}
  </div>

  {% if postType != 'article' %}
    {% set link = referencedLink or (content | contentLink) %}
    {% if link %}
      {% set preview_data = link | preview %}
      {% include "unfurl.njk" %}
    {% endif %}
  {% endif %}

  {% set url = page.url | stripExt %} 
  {% set expand = true %}
  {% include "entry-footer.njk" %}
</div>
</main>
{% endblock %}
