<article class="h-entry entry">
  <header>
    <a href="/" class="u-author"></a>
    
    <span class="entry__published">{{ post.data.date | date  }}</span>
    
    {% if post.data.title  %}
    <h2 class="entry__title"><a href="{{ post.url }}" class="entry__titlelink">{{ post.data.title }}</a></h2>
    {% endif %}
  </header>
  
  <p>
  {% if post.data.postType == "like"%}
  Liked a <a href="{{post.data.mp_properties['like-of']}}">post</a>
  {% elseif post.data.postType == "repost"%}
  Reposted a <a href="{{post.data.mp_properties['repost-of']}}">post</a>
  {% elseif post.data.postType == "reply"%}
  Replied to a <a href="{{post.data.mp_properties['in-reply-to']}}">post</a>
  {% elseif post.data.postType == "bookmark"%}
  Bookmarked a <a href="{{post.data.mp_properties['bookmark-of']}}">link</a>
  {% endif %}
  </p>

  {{ post.templateContent | excerpt | safe }}

  {% if post.data.mp_properties.photo %}
  <img src="{{ post.data.mp_properties.photo }}" class="u-photo entry__photo image"/>
  {% endif %}

  {% if post.data.postType != 'article' %}
  {% set link = (post.data.mp_properties | referenced_link) or (post.templateContent | content_link) %}
  {% if link %}
  {% set scraped = link | scrape(link | slug) %}
  {% include "preview.njk" %}
  {% endif %}
  {% endif %}

  {% if post.data.postType == 'article' %}
  <a href="{{ post.url }}">Read more &raquo;</a>
  {% endif %}
  
  <footer class="entry__footer">
    {% set allmentions = webmentions.children | webmentions_for_url(post.url) %}
    {% set mentions = allmentions | webmention_kind('in-reply-to', 'mention-of')%}
    {% set likes = allmentions | webmention_kind('like-of') %}
    {% set reposts = allmentions | webmention_kind('repost-of') %}
    {% set bookmarks = allmentions | webmention_kind('bookmark-of') %}
    {% set syndications = wmresults | syndications_for_url(post.url) %}
    
    {% if post.data.tags %}
    <div class="entry__infoline row--speacious">
       <span title="Tags" class="wm-counter"><i class="fa fa-tag fa-flip-horizontal"></i>
       {% set comma = joiner() %}
       {% for tag in post.data.tags %}
       {{ comma() }} <a href="/posts/tags/{{tag}}.html"> {{ tag }} </a>
       {% endfor %}
       </span>
    </div>
    {% endif %}
    <div class="entry__infoline row--spacious">
      <div class = "rowitem row--spacious">
        <span title="Mentions" class="wm-counter"><i class="far fa-comment"></i> {{ mentions | length}}</span>
        <span title="Likes" class="wm-counter"><i class="far fa-thumbs-up"></i> {{ likes | length }}</span>
        <span title="Reposts" class="wm-counter"><i class="fa fa-retweet"></i> {{ reposts | length }}</span>
        <span title="Bookmarks" class="wm-counter"><i class="fa fa-bookmark"></i> {{ bookmarks | length }} </span>
      </div>
      <div class="rowitem--right row--spacious">
        {% for s in syndications %}
        <a href="{{ s }}" title="Syndicated" class="entry__link wm-counter"><i class="{{ s | synicon }}"></i></a>
        {% endfor %}
        <a href="{{ post.url }}" title="Permalink" class="entry__link wm-counter"><i class="fa fa-link"></i></a>
      </div>
    </div>
  </footer>
</article>
