{% extends "blogbase.njk" %}

{% from "photo.njk" import photo as photom %}

{% block content %}
<main class="main">
<div class="h-entry entry">
  <header class="main__header">
    <a href="/" class="u-author"></a>
    
    <span class="entry__headerline row--comfy">
      <span class="entry__published dt-published">{{ date | date  }}</span>
      &middot;
      {% set syndications = wmresults | syndications_for_url(page.url | strip_ext) %}
      {% for s in syndications %}
      <a class="u-syndication entry__footerlink" href="{{ s }}" title="Syndicated"><i class="{{ s | synicon }}"></i></a>
      {% endfor %}
      <a class="u-url entry__footerlink" href="{{ page.url | strip_ext }}" title="Permalink"><i class="fa fa-link"></i></a>
    </span>

    {% if title  %}
    <h1 class="main__title p-name">{{ title }}</h1>
    {% endif %}
    
  </header>

  {% if blurb %}
  <div class="p-summary" style="display: none">
  {{blurb}}
  </div>
  {% endif %}

  <div class="e-content">
  <p>
  {% if postType == "like"%}
  Liked a <a class="u-like-of" href="{{referenced_link}}">post</a>
  {% elseif postType == "repost"%}
  Reposted a <a class="u-repost-of" href="{{referenced_link}}">post</a>
  {% elseif postType == "reply"%}
  Replied to a <a class="u-in-reply-to" href="{{referenced_link}}">post</a>
  {% elseif postType == "bookmark"%}
  Bookmarked a <a class="u-bookmark-of" href="{{referenced_link}}">link</a>
  {% endif %}
  </p>

  {% for mention in bridgy_mentions %}
  <a href="{{mention}}"></a>
  {% endfor %}

  {{ content | safe }}
  
  {% if photo %}
  {{ photom(photo) }}
  {% endif %}

  {% if postType != 'article' %}
  {% set link = referenced_link or (content | content_link) %}
  {% if link %}
  {% set scraped = link | preview(link | slug) %}
  {% include "preview.njk" %}
  {% endif %}
  {% endif %}
  </div>
  {% set url = page.url | strip_ext %} 
  {% set expand = true %}
  {% include "entry-footer.njk" %}
</div>
</main>
{% endblock %}
