{% from "reflink.njk" import reflink %}
{% from "entry-header.njk" import entryheader %}

<article class="h-entry entry">
  {% for mention in post.data.bridgyMentions %}
  <a href="{{mention}}"></a>
  {% endfor %}

  {% set title = post.data.title  %}
  {{ entryheader(wmresults, post.data.date, post.url, post.data.navigation, title, 2) }}
  
  {% if post.data.blurb %}
    <div class="p-summary" style="display: none">
    {{post.data.blurb}}
    </div>
  {% endif %}

  {{ reflink(post.data.postType, post.data.referencedLink) }}

  <div class="e-content">
    {{ post.templateContent | excerpt | safe }}
    {% if post.data.photo | length > 1 %}
    <p><a href="{{ post.url | stripExt }}">{{ post.data.photo | length }} photos</a></p>
    {% endif %}
  
    {% if post.data.postType == 'album' %}
      {% image post.data.featured.value, post.data.featured.alt, 'u-featured entry__photo image' %}
    {% else %}
      {% set photoArg = post.data.photo | clamp(8) %}
      {% include "photo.njk" %}
    {% endif %}
  </div>

  {% if post.data.postType != 'article' %}
    {% set link = post.data.referencedLink or (post.templateContent | contentLink) %}
    {% if link %}
      {% set preview_data = link | preview %}
      {% include "unfurl.njk" %}
    {% endif %}
  {% endif %}

  {% if post.data.postType == 'article' %}
  <p><a class="read-more" href="{{ post.url | stripExt }}">Read more &raquo;</a></p>
  {% endif %}

  {% set tags = post.data.tags %}
  {% set url = post.url | stripExt %}
  {% include "entry-footer.njk" %}
</article>
