{% if preview_data %}
  <section class="link-context">
  {% if preview_data.type == 'mf2' %}
    {% include "indieweb-context.njk" %}
  {% elif preview_data.type == 'oembed' %}
    {% include "oembed.njk" %}
  {% elif preview_data.type == 'unfurl' %}
    {% include "unfurl.njk" %}
  {% endif %}
  </section>
{% endif %}
