<article class="h-recipe">
  <header class="entry__header">
    <a href="/" class="u-author"></a>
    <h2 class="entry__title p-name"><a href="{{ post.url | stripExt }}" class="entry__titlelink">{{ post.data.title }}</a></h2>
  </header>
  <div class="text">
    {% if post.data.blurb %}
      <p>{{ post.data.blurb | safe }}</p>
    {% endif %}
    {% if post.data.featured %}
    {% image post.data.featured.value, post.data.featured.alt, 'u-featured entry__photo image' %}
    {% endif %}
    {% if post.data.source %}
    <div>
      Source: <a class="u-remix-of" href="{{post.data.source}}">{{ post.data.source }}</a>
    </div>
    {% endif %}
    {% if post.data.yield %}
    <div>
      Yield: <span class="p-yield">{{ post.data.yield }}</span>
    </div> 
    {% endif %}
  </div>
  <footer class="entry__footer">
    {% if post.data.tags %}
    <p>
      <div class="row">
        {% if post.data.tags | length > 0 %}
        <div class="row">
          {% for tag in post.data.tags %}
          <a class="p-category post-tag" href="/recipes/tags/{{tag}}.html">#{{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </p>
    {% endif %}
  </footer>
</article>
