{% extends "base.njk" %}

{% block content %}
<main class="main">
  <header class="entry__header">
    <a href="/" class="u-author"></a>
    <h1 class="entry__title p-name"><a href="{{ page.url | stripExt }}" class="entry__titlelink">{{ title }}</a></h1>
  </header>
  <div class="h-recipe">
    {% if source %} 
    <div>
      Source: <a class="u-remix-of" href="{{source}}">{{ source }}</a>
    </div>
    {% endif %}
    {% if yield %} 
     <div>
      Yield: <span class="p-yield">{{ yield }}</span>
    </div>
    {% endif %}
    <p>Ingredients:</p>
    
    {% if ingredients | isArray %}
    <ul>
    {% for ingredient in ingredients %}
    <li class="p-ingredient">
      {{ingredient}}
    </li>
    {% endfor %}
    </ul>
    {% else %}
    
    <ul>
    {% for subIngredientHeading, subIngredients in ingredients %}
    <li>
      {{subIngredientHeading}}:
      <ul>
      {% for ingredient in subIngredients %}
        <li class="p-ingredient">
          {{ingredient}}
        </li>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>

    {% endif %}
    <p>Instructions:</p> 
    <div class="e-instructions">
      {{ content | safe }}
    </div>
  </div>
</main>
{% endblock %}
