{% macro reflink(postType, referencedLink) %}
{% if postType == "like"%}
<p>Like of <a class="u-like-of dont-break-out" href="{{referencedLink}}">{{referencedLink}}</a></p>
{% elseif postType == "repost"%}
<p>Repost of <a class="u-repost-of dont-break-out" href="{{referencedLink}}">{{referencedLink}}</a></p>
{% elseif postType == "reply"%}
<p>Reply to <a class="u-in-reply-to dont-break-out" href="{{referencedLink}}">{{referencedLink}}</a></p>
{% elseif postType == "bookmark"%}
<p>Bookmark of <a class="u-bookmark-of dont-break-out" href="{{referencedLink}}">{{referencedLink}}</a></p>
{% endif %}
{% endmacro %}
