{% if m_large %}
<meta property="twitter:card" content="summary_large_image" />
{% else %}
<meta property="twitter:card" content="summary" />
{% endif %}

<meta property="twitter:title" content="{{ m_title }}"/>
<meta property="twitter:description" content="{{ m_description }}"/>

{% if m_image %}
<meta property="twitter:image" content="{{ m_image }}"/> 
{% endif %}
