{% set meta = scraped.meta | normalizeUnfurl %}

<blockquote cite="{{ link }}" class="h-cite cite link-context__unfurl">
{% if meta.title %}
<h1><a href="{{ link }}">{{ meta.title }}</a></h1>
{% endif %}

{% if meta.description %}
<section>{{ meta.description }}</section>
{% endif %}

{% if meta.image %}
<img alt="open graph image" src="{{meta.image.url}}" class="link-context__image"/>
{% endif %}

</blockquote>
