{% if preview_data %}
  <section class="unfurl">
  {% if preview_data.type == 'mf2' or preview_data.type == 'unfurl' %}
    {% include "link-context.njk" %}
  {% elif preview_data.type == 'oembed' %}
    {{ preview_data.meta.oEmbed.html | safe }}
  {% endif %}
  </section>
{% endif %}
