{% if postType != 'article' %}
  {% set link = referencedLink or (content | contentLink) %}
  {% if link %}
    {% set preview_data = link | preview %}
    {% if preview_data %}

      <section class="unfurl text">

      <blockquote cite="{{ link }}" class="h-cite cite link-context">

      {% if preview_data.indieweb %}
        {% set icon = preview_data.author.photo %}
        {% set header = preview_data.author.name %}
        {% set headerUrl = preview_data.author.url %}
      {% else %}
        {% set icon = preview_data.site.icon %}
        {% set header = preview_data.site.name %}
        {% set headerUrl = preview_data.site.url %}
      {% endif %}
      {% if header %}
      <div class="row link-context__header">
          {% avatar icon, header %} 
          <div>
              <div>
                  {% if headerUrl %}
                  <a class="link-context__site-url" href="{{ headerUrl }}">{{ header }}</a>
                  {% else %}
                  <span class="link-context__site">{{ header }}</span>
                  {% endif %}
              </div>

              {% if preview_data.published %}
                  <div><span class="link-context__published">{{ preview_data.published | date }}</span></div>  
              {% endif %}
          </div>
      </div>
      {% endif %}

      {% if preview_data.image %}
      <img alt="{{ preview_data.image.alt }}" src="{{ preview_data.image.url }}" class="link-context__image"/>
      {% endif %}

      {% if preview_data.title %}
      <h2><a href="{{ link }}">{{ preview_data.title }}</a></h2>
      {% endif %}

      {% if preview_data.description %}
      <div class="link-context__content">{{ preview_data.description }}</div>
      {% endif %}

      </blockquote>

      </section>
    {% endif %}
  {% endif %}
{% endif %}
