---
pagination:
  data: collections.photos_archivePages
  size: 1
  alias: p
permalink: "{{archiveUrlPrefix}}/{{ p.name }}/index{% if p.page %}{{ p.page + 1 }}{% endif %}.html"
layout: "collection.njk"
archiveUrlPrefix: "/posts/photos"
eleventyComputed:
   title: "Archives for {{ p.name }} (Photos)"
---

{% include 'archive.njk' %}
