---
title: Photos
description: |
  <p>Posts with a photographic focus, usually off-the-cuff single photos
  with the occasional multi-shot.</p>

  <p>I also have an <a href="/posts/albums/">album feed</a> with less random
  and more curated photos.</p>
  
  <p>If you find yourself perusing my <a href="/posts/blog/">blog<a/> and 
  <a href="/posts/notes/">notes as well</a>, you may be 
  interested in my <a  href="/posts/lifestream/">lifestream</a>, which
  combines them.<p>
pagination:
  data: collections.photos
  size: 25
permalink: "/posts/photos/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_photos.xml"
tagurl: "/posts/photos/tags/"
archiveurl: "/posts/photos/archives/"
navname: photos
entrytemplate: "post-entry.njk"
secondarynav: true
---
