---
title: Articles
description: |
  <p>My old-school blog, wth just the articles (titled, long-form content).  
  This is basically what my blog looked like before I joined the IndieWeb.</p>
pagination:
  data: collections.articles
  size: 25
permalink: "/posts/articles/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_articles.xml"
tagurl: "/posts/articles/tags/"
archiveurl: "/posts/articles/archives/"
navname: articles
entrytemplate: "post-entry.njk"
secondarynav: true
---
