---
title: Blog
description: |
   My old-school blog, wth just the articles.  This is basically what my blog 
   looked like before I joined the IndieWeb.  If you want my notes and photos
   as well, you may want to check out my <a href="/posts/lifestream">lifestream</a> 
   or the <a href="/posts/">whole shebang</a>.
pagination:
  data: collections.articles
  size: 25
permalink: "/posts/articles/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_articles.xml"
tagurl: "/posts/articles/tags/"
archiveurl: "/posts/articles/archives/"
navname: blog
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
