---
title: Replies
description: |
  Posts where I'm answering another post somewhere else.
pagination:
  data: collections.replies
  size: 25
permalink: "/posts/replies/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_replies.xml"
tagurl: "/posts/replies/tags/"
archiveurl: "/posts/replies/archives/"
navname: replies
entrytemplate: "post-entry.njk"
secondarynav: true
---
