---json
{
  "permalink": "posts/feed_bookmarks.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Desmond Rivet - Links",
    "url": "https://desmondrivet.com/posts/bookmarks",
    "feedUrl": "https://desmondrivet.com/posts/feed_bookmarks.xml",
    "author": {
      "name": "Desmond Rivet",
      "email": "desmond.rivet@gmail.com"
    }
  }
}
---
{%- from "reflink.njk" import reflink -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.bookmarks | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.bookmarks.slice(0, 10) %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) | stripExt }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
    {{ reflink(post.data.postType, post.data.referencedLink) }}
    {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
