---
title: Reposts
description: |
  A repost is similar to a retweet, where I'm basically copying someone else's post on my feed.
pagination:
  data: collections.reposts
  size: 25
permalink: "/posts/reposts/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_reposts.xml"
tagurl: "/posts/reposts/tags/"
archiveurl: "/posts/reposts/archives/"
navname: reposts
entrytemplate: "post-entry.njk"
secondarynav: true
---
