---
title: Notes
description: |
  <p>Notes are short, titleless bits of content, like tweets or status updates.</p>
pagination:
  data: collections.notes
  size: 25
permalink: "/posts/notes/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_notes.xml"
tagurl: "/posts/notes/tags/"
archiveurl: "/posts/notes/archives/"
navname: notes
entrytemplate: "post-entry.njk"
secondarynav: true
---
