---
title: Notes
description: Short notes, photos and videos (reminiscent of tweets or status updates) for the latest of what's on my mind
pagination:
  data: collections.notes
  size: 25
permalink: "/posts/notes/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_notes.xml"
tagurl: "/posts/notes/tags/"
archiveurl: "/posts/notes/archives/"
navname: "notes"
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
