---
title: Lifestream
description: |
  My lifestream page is probably best understood as an extended version of my blog,
  a combined feed of notes, articles, photos and videos, but without all the replies,
  likes and reposts that can sometimes add unwanted noise to an IndieWeb site. 
  My <a href="/posts/">entire feed</a> is available as well.
pagination:
  data: collections.lifestream
  size: 25
permalink: "/posts/lifestream/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_lifestream.xml"
tagurl: "/posts/lifestream/tags/"
archiveurl: "/posts/lifestream/archives/"
navname: lifestream
secondarynavoff: true
---

{% include "feed-list.njk" %}