---
title: Lifestream
description: |
  <p>My lifestream is probably best understood as an extended version of my blog, a combined feed of
  notes, articles, photos and videos, but without all the replies, likes and
  reposts that can sometimes add unwanted noise to an IndieWeb site.</p>
  <p>That being said, if you're interested in the noise, feel free to peruse the <a href="/posts/">entire</a> feed.<p>
  <p>I also have a soft spot for traditional, long-form blogs and I didn't have the heart to cut it from my site entirely.
  I've set aside a <a href="/posts/blog/">special feed</a> just for that.<p>
pagination:
  data: collections.lifestream
  size: 25
permalink: "/posts/lifestream/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_lifestream.xml"
tagurl: "/posts/lifestream/tags/"
archiveurl: "/posts/lifestream/archives/"
navname: lifestream
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
