---
pagination:
  data: collections.blog_archivePages
  size: 1
  alias: p
permalink: "{{archiveUrlPrefix}}/{{ p.name }}/index{% if p.page %}{{ p.page + 1 }}{% endif %}.html"
layout: "feed.njk"
archiveUrlPrefix: "/posts/blog"
eleventyComputed:
   title: "Archives for {{ p.name }} (Blog)"
---

{% include 'archive.njk' %}
