---
title: Blog
description: My blog, for the latest of what's on my mind
pagination:
  data: collections.blog
  size: 25
permalink: "/posts/blog/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_blog.xml"
tagurl: "/posts/blog/tags/"
archiveurl: "/posts/blog/archives/"
navname: "blog"
---

<p class="feed__summary">
This feed contains a hodge-podge of notes, status updates, photos, videos and longer form content.
That being said, I have a soft spot for old school, article based blogs so if that sort of thing
interests you, I've also set aside a <a href="/posts/articles/">special feed</a> just for that.
</p>

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
