---
title: Blog
description: My blog, for longer thoughts that need more space
pagination:
  data: collections.blog
  size: 10
permalink: "/posts/blog/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_blog.xml"
tagurl: "/posts/blog/tags/"
archiveurl: "/posts/blog/archives/"
navname: "blog"
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
