---
pagination:
  data: collections.blog_tagPages
  size: 1
  alias: p
permalink: "{{tagUrlPrefix}}/{{ p.name }}{% if p.page %}{{ p.page + 1 }}{% endif %}.html"
layout: "feed.njk"
tagUrlPrefix: "/posts/blog/tags"
eleventyComputed:
  title: "Tagged {{ p.name }} (Blog)"
---

{% include 'tag.njk' %}
