---
title: "Recipe Archives"
permalink: "/recipes/archives/index.html"
---
{% extends "base.njk" %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %} 
<main class="main">
<header class="main__header">  
  <div class="row">
    <h1>Recipe Archives</h1>
  </div>
</header>
<ul class="archive-year-list">
  {% for year in collections['recipes_archiveList'] %}
  {% set yearUrl %}/{{ year.year }}/{% endset %}

  <li class="archive-year-list__year-item row">
    <a href="/recipes/{{ yearUrl | url }}">{{ year.year }}</a> <span class="row__item--right">{{ year.count }}</span>
  </li>

  <li class="archive-year-list__months-item">
    <ul class="archive-month-list">
      {% for month in year.months %}
      {% set monthUrl %}/{{ year.year }}/{{ month.month }}/{% endset %}

      <li class="archive-month-list__month-item row">
        <a href="/recipes/{{ monthUrl | url }}">{{ month.month | monthname }}</a> <span class="row__item--right">{{ month.count }}</span>
      </li>

      {% endfor %}
    </ul>
  </li>

  {% endfor %}
</ul>
</main>
{% endblock content %}
