---
title: Recipes
description: |
  My recipe collection.  This is collection, not a blog, so there's no real
  story to these recipes, just the recipes themselves.
pagination:
  data: collections.recipes
  size: 25
permalink: "/recipes/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"  
layout: "feed.njk"
rss: "/recipes/feed.xml"
tagurl: "/recipes/tags/"
archiveurl: "/recipes/archives/"
search: true
searchRoot: recipes
entrytemplate: "recipe-entry.njk"
---
