---
title: Recipes
description: |
  My recipe collection.  This is collection, not a blog, so there's no real
  story to these recipes, just the recipes themselves.
pagination:
  data: collections.recipes
  size: 25
permalink: "/recipes/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"  
layout: "feed.njk"
rss: "/recipes/feed.xml"
tagurl: "/recipes/tags/"
archiveurl: "/recipes/archives/"
secondarynavoff: true
search: true
searchRoot: recipes
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "recipe-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
