---
pagination:
  data: collections.recipes_tagPages
  size: 1
  alias: p
permalink: "{{tagUrlPrefix}}/{{ p.name }}{% if p.page %}{{ p.page + 1 }}{% endif %}.html"
layout: "collection.njk"
tagUrlPrefix: "/recipes/tags"
eleventyComputed:
  title: "Recipes Tagged {{ p.name }}"
---

<ul class="content-list">
{% asyncEach post in p.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "recipe-entry.njk" %}
</li>
{% endeach %}
</ul>

<nav class="feed__pagenav">
{% if p.page > 0 %}
{% set prevpage = p.page - 1 %}
<a href="{{tagUrlPrefix}}/{{ p.name }}{% if prevpage %}{{ prevpage + 1 }}{% endif %}" class="feed__prevlink">
  &laquo; Previous
</a>
{% endif %}

{% if p.page < (p.total - 1) %}
{% set nextpage = p.page + 1 %}
<a href="{{tagUrlPrefix}}/{{ p.name }}{% if nextpage %}{{ nextpage + 1 }}{% endif %}" class="feed__nextlink">
  Next &raquo;
</a>
{% endif %}
</nav>
