---
title: Tags
permalink: /{{ page.filePathStem }}.html
navname: "tags"
---

{% extends "blogbase.njk" %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %}
<header class="main__header">
  <div class="row">
    <h1 class="main__title">{{ title }}</h1>
  </div>
</header>
<ul class="tag-list">
{% for tag in collections.tagList %}
  {% set tagUrl %}/posts/tags/{{ tag.tag | slug }}{% endset %}
  <li class="tag-list__item row"><a href="{{ tagUrl | url }}">{{ tag.tag }}</a>  <span class="rowitem--right">{{ tag.count }}</span></li>
{% endfor %}
</ul>
{% endblock content %}
