---
pagination:
  data: collections.allPosts_archivePages
  size: 1
  alias: p
permalink: "{{archiveUrlPrefix}}/{{ p.name }}/index{% if p.page %}{{ p.page + 1 }}{% endif %}.html"
layout: "collection.njk"
archiveUrlPrefix: ""
eleventyComputed:
   title: "Archives for {{ p.name }}"
---

{% include 'archive.njk' %}
