---
title: Bookmarks
pagination:
  data: collections.bookmarks
  size: 10
permalink: "/posts/bookmarks{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
---

<ul class="feed__list">
{% asyncEach post in pagination.items %}
<li class="feed__item">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
