---
title: Links
pagination:
  data: collections.bookmarks
  size: 10
permalink: "/posts/bookmarks{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_bookmarks.xml"
navname: "links"
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
