---
title: Blog
pagination:
  data: collections.blog
  size: 10
permalink: "/posts/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_blog.xml"
---

<ul class="feed__list">
{% asyncEach post in pagination.items %}
<li class="feed__item">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
