---
title: All Posts
description: |
  The firehose of all my posts, including replies, likes and reposts.  If this is too much, 
  you may be interested in just my <a href="/posts/lifestream/">lifestream</a> which provides
  a calmer, more curated experience.
pagination:
  data: collections.allPosts
  size: 25
permalink: "/posts/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"  
layout: "feed.njk"
rss: "/posts/feed_all.xml"
tagurl: "/posts/tags/"
archiveurl: "/posts/archives/"
navname: all
search: true
searchRoot: posts
entrytemplate: "post-entry.njk"
secondarynav: true
---

