---
permalink: "/{{ pagination.items[0].tagUrlPrefix }}/index.html"
pagination:
  data: tagIndexData
  size: 1
eleventyComputed:
  title: "{{pagination.items[0].title}}"
tagIndexData:
- title: Tags (Links)
  tagUrlPrefix: posts/bookmarks/tags
  collection: bookmarks
- title: Tags (Article)
  tagUrlPrefix: posts/articles/tags
  collection: articles
- title: Tags (Notes)
  tagUrlPrefix: posts/notes/tags
  collection: notes
- title: Tags (Photos)
  tagUrlPrefix: posts/photos/tags
  collection: photos
- title: Tags (Replies)
  tagUrlPrefix: posts/replies/tags
  collection: replies
- title: Tags (Reposts)
  tagUrlPrefix: posts/reposts/tags
  collection: reposts
- title: Tags (Likes)
  tagUrlPrefix: posts/Likes/tags
  collection: likes
- title: Tags (All)
  tagUrlPrefix: posts/tags
  collection: all
---
{% set metadata = pagination.items[0]%}
{% extends "blogbase.njk" %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %}
<main class="main">
<header>
  <div class="row">
    <h1>{{ metadata.title }}</h1>
  </div>
</header>
<ul class="tag-list">
{% for tag in collections[metadata.collection + '_tagList'] %}
  {% set tagUrl %}/{{metadata.tagUrlPrefix}}/{{ tag.tag | slug }}{% endset %}
  <li class="tag-list__item row"><a href="{{ tagUrl | url }}">{{ tag.tag }}</a>  <span class="row__item--right">{{ tag.count }}</span></li>
{% endfor %}
</ul>
</main>
{% endblock content %}
