---
title: Updates
description: A combined feed of my notes, photos and blog for the latest of what's on my mind
pagination:
  data: collections.updates
  size: 10
permalink: "/posts/updates/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_updates.xml"
navname: "updates"
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
