@media only screen and (min-width : 1024px) {
    :root {
      --width: 1200px;
    }

    .entry__content {
      display: flex;
      justify-content: center;
    }

    .portrait {
      width: 800px;
      margin: 0 auto;
    }
}
.entry__imagenav {
  margin: 0.2em;
}