@media only screen and (min-width : 1024px) {
    :root {
        --width: 800px;
    }
   
    .navbar { 
        max-width: var(--width);
    }

    .main { 
        max-width: var(--width);
    }
    
    .image-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
    }
}
