@media only screen and (min-width : 1024px) {
    :root {
        --width: 750px;
    }
   
    .navbar { 
        max-width: var(--width);
    }

    .main { 
        max-width: var(--width);
    }
    
    .image-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
    }   

    .mug-about {
      width: 250px;
      height: 250px;
      float: left;
      margin: 0 1em 1em 0;
    }
     
}
