@media only screen and (min-width : 1024px) {
    :root {
        --width: 800px; 
        --navwidth: 850px;
        --side-padding: 1em;
    }

    h1 {
      font-size: 1.75em;
    }
    
    h2 {
      font-size: 1.3125em;
    }
    
    h3 {
      font-size: 1.02375em;
    }
    
    h4 {
      font-size: 0.875em;
    }
    
    h5 {
      font-size: 0.72625em;
    }
    
    h6 {
      font-size: 0.58625em;
    }

    .navbar {
       --width: var(--navwidth);
    }

    .secondary-header__navbar {
        max-width: var(--width);
    }
    
    .main { 
        max-width: var(--width);
    }
    
    .image-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
    }   

    .mug-about {
      width: 250px;
      height: 250px;
      float: left;
      margin: 0 1em 1em 0;
    }
    
    .entry__header--top {
      margin-top: 2em;
    }
    
    .entry__headerline {
      font-size: var(--font-size-smaller);
    }

    .entry__footerline {
      font-size: var(--font-size-smaller);
    }
}
