:root {
  --side-padding: 0.66em;
  --font-size: 16px;
  --font-size-smaller: 14px;
  --font-size-smallest: 10px;
  --font-size-bigger: 18px;
}

body {
  font-family: 'Open Sans', serif;
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
  line-height: 1.7;
  border-top: 5px solid var(--accent);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 0.8775em;
}

h4 {
  font-size: 0.75em;
}

h5 {
  font-size: 0.6225em;
}

h6 {
  font-size: 0.5em;
}

.mug {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 1em 1em 0;
}

.mug-about {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 1em 1em 0;
}

.feed-extra {
  color: var(--accent);
}

.avatar {
  width: 32px;
  height: 32px;
}

.main-header {
  padding: 0.6em var(--side-padding);
  border-bottom: 1px solid var(--lightest-color);
}

.navbar {
  max-width: 100%;
}

.secondary-header {
  padding: 0 var(--side-padding);
  border-bottom: 1px solid var(--lightest-color);
}

.navbar__brand {
  font-weight: bold;
}

.navbar__group {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__avatar {
  border-radius: 50%;
}

.navbar__group--right {
  margin-left: auto;
}

.navbar__link {
  color: var(--dark-grey);
}

.main__title {
  color: var(--dark-grey);
}

.main { 
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5em var(--side-padding);
}

.main-footer {
  margin-top: 1em;
  border-top: 1px solid var(--lightest-color);
}

.main-footer__content {
  max-width: 100%;
  margin: 0 auto;
  padding: 1em 0.5em;
  font-size: var(--font-size-smaller);
}

.feed__navbaritem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.4em 0;
  border-bottom: 2px solid white;
}

.feed__navbaritem--active {
  font-weight: bold;
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  border-top: 2px solid var(--light-accent);
  background-color: var(--light-accent);
}

.feed__navname {
  display: none;
}

.feed__pagenav {
  display: flex;
}

.feed__prevlink {
  margin-right: auto;
}

.feed__description {
  font-style: italic;
}

.feed__search {
  width: 150px;
  height: 26px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 6px;
}

.feed__header {
  margin-bottom: 4em;
}

.feed-extra__label {
  display: none;
}

.entry__header {
  margin: 0 0 0.5em 0;
}

.entry__header--top {
  margin-top: 0.5em;
}

.entry__headerline {
  color: var(--lighter-color);
}

.entry__published {
  color: var(--lighter-color);
}

.entry__title {
  margin: 0.2em 0;
}

.entry__titlelink {
  color: var(--color);
}

.entry__photowrapper {
  border-radius: 10px;
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
  margin: 1em 0;
}

.entry__photoclipped {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
  height: auto;
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.entry__photo {
  border-radius: 10px;
  max-width: 100%;
  display: block;
  margin-bottom: 1em;
}

.entry__footerline {
  color: var(--lighter-color);
  margin-bottom: 0.5em;
}

.entry__footerlink {
  color: var(--lighter-color); 
}

.entry__conversation {
  margin-top: 2.5em;
}

.post-tag {
  padding: 0.1em 0.3em;
  background-color: var(--light-accent);
  border-radius: 5px;
}

.cite {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 3px solid;
  border-color: var(--lightest-color);
}

.unfurl {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.link-context {
  width: 100%;
}

.link-context__avatar {
  width: 32px;
  height: 32px;
}

.link-context__image { 
  max-width: 100%;
}

.link-context__site {
  font-weight: bold;
}

.link-context__header {
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.link-context__published {
  font-size: var(--font-size-smaller);
  margin-right: 0.2em;
}

.post-info__published {
  font-size: var(--font-size-smaller);
  margin-right: 0.2em;
}

.link-context__content {
  margin-top: 1em;
}

.post-info__header {
  line-height: 1.3;
}

.post-info__author {
  margin-right: 0.5em;
}


.post-info__content {
  margin-top: 1em;
}

.tag-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tag-list__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--lighter-color);
}

.tag-list__item:last-child {
  border-bottom: 0;
}

.archive-year-list {
  list-style: none;
  padding: 0;
}

.archive-month-list {
  list-style: none;
}

.archive-year-list__year-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--lighter-color);
}

.archive-year-list__year-item:last-child {
  border-bottom: 0;
}

.archive-month-list__month-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--lighter-color);
}

.archive-month-list__month-item:last-child {
  border-bottom: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.entry__image-grid {
  margin: 1em 0;
}

.image-grid__item {
  padding-top: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-grid__thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: auto;
}

.image-grid__thumb.portrait {
  width: 100%;
  height: auto;
}

.breadcrumbs {
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
  list-style: none; 
  display: inline;
}

.breadcrumbs__item {
  display: inline;
  font-size: var(--font-size);;
}

.breadcrumbs__item+.breadcrumbs__item:before {
  content: "/\00a0";
}

.breadcrums__anchor {
  text-decoration: none;
}

.recipe__ingredients-header {
  font-weight: bold;
}

.recipe__instructions-header {
  font-weight: bold;
}

.commentform__section {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.commentform__label {
  display: block;
}

.commentform__input {
  display: block;
}

.commentform__textarea {
  width: 100%;
  height: 10em;
}

.separator {
  border: 1px solid var(--lightest-color);
}
