:root {
  --side-padding: 1em;
  --font-size: 18px;
  --font-size-smaller: 16px;
  --font-size-smallest: 12px;
  --font-size-bigger: 20px;
}

body {
  font-family: 'Lato', serif;
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
  line-height: 1.7;
  border-top: 5px solid var(--accent);
}

.feed-extra {
  color: var(--accent);
}

.avatar {
  width: 32px;
  height: 32px;
}

.main-header {
  padding: 0.6em var(--side-padding);
  border-bottom: 1px solid var(--lightest-color);
}

.navbar {
  max-width: 100%;
}

.secondary-header {
  padding: 0 var(--side-padding);
  border-bottom: 1px solid var(--lightest-color);
}

.navbar__brand {
  font-weight: bold;
}

.navbar__group {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__avatar {
  border-radius: 50%;
}

.navbar__group--right {
  margin-left: auto;
}

.navbar__link {
  color: var(--dark-grey);
}

.main__title {
  color: var(--dark-grey);
}

.main { 
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5em var(--side-padding);
}

.main-footer {
  margin-top: 1em;
  border-top: 1px solid var(--lightest-color);
}

.main-footer__content {
  max-width: 100%;
  margin: 0 auto;
  padding: 1em 0.5em;
  font-size: var(--font-size-smaller);
}

.feed__navbaritem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.4em 0;
  border-bottom: 2px solid white;
}

.feed__navbaritem--active {
  font-weight: bold;
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  border-top: 2px solid var(--light-accent);
  background-color: var(--light-accent);
}

.feed__navname {
  display: none;
}

.feed__pagenav {
  display: flex;
}

.feed__prevlink {
  margin-right: auto;
}

.feed__description {
  font-style: italic;
  margin-bottom: 3em;
}

.feed-extra__label {
  display: none;
}

.entry__header {
  margin: 0 0 1em 0;
}

.entry__header--top {
  margin-top: 2em;
}

.entry__headerline {
  font-size: var(--font-size-smaller);
  color: var(--lighter-color);
}

.entry__published {
  color: var(--lighter-color);
}

.entry__title {
  margin: 0.5em 0;
}

.entry__titlelink {
  color: var(--color);
}

.entry__photo {
  border-radius: 10px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.entry__footer {
  font-size: var(--font-size-smaller);
  color: var(--lighter-color);
}

.entry__footerlink {
  color: var(--lighter-color); 
}

.post-tag {
  padding: 0.1em 0.3em;
  background-color: var(--light-accent);
  border-radius: 5px;
}

.cite {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 3px solid;
  border-color: var(--lightest-color);
}

.unfurl {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.link-context {
  width: 100%;
}

.link-context__avatar {
  width: 32px;
  height: 32px;
}

.link-context__image { 
  max-width: 100%;
}

.link-context__site {
  font-weight: bold;
}

.link-context__header {
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.link-context__published {
  font-size: var(--font-size-smaller);
}

.link-context__content {
  margin-top: 1em;
}

.post-info__header {
  line-height: 1.3;
}

.post-info__author {
  margin-right: 0.5em;
}

.post-info__published {
  font-size: var(--font-size-smaller);
}

.post-info__content {
  margin-top: 1em;
}

.wm-group {
  margin-top: 3em;
}

.tag-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tag-list__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--lighter-color);
}

.tag-list__item:last-child {
  border-bottom: 0;
}

.archive-year-list {
  list-style: none;
  padding: 0;
}

.archive-month-list {
  list-style: none;
}

.archive-year-list__year-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--lighter-color);
}

.archive-year-list__year-item:last-child {
  border-bottom: 0;
}

.archive-month-list__month-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--lighter-color);
}

.archive-month-list__month-item:last-child {
  border-bottom: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
  gap: 3px;
}

.image-grid__item {
  width: 157px;
  height: 157px;

  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-grid__thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

.image-grid__thumb.portrait {
  width: 100%;
  height: auto;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.album-grid__item {
  overflow: hidden;
}

.album-grid__cover {
  width: 100%;
}

.album-grid__title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.breadcrumbs {
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
  list-style: none; 
  display: inline;
}

.breadcrumbs__item {
  display: inline;
  font-size: 18px;
}

.breadcrumbs__item+.breadcrumbs__item:before {
  content: "/\00a0";
}

.breadcrums__anchor {
  text-decoration: none;
}