:root {
  --side-padding: 1em;
}

body {
  font-family: 'Lato', serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
  line-height: 1.7;
  border-top: 4px solid var(--accent);
}

.fa-rss-square {
  color: #ffa872;
}

.image {
  width: auto;
  height: auto;
}

.avatar {
  width: 32px;
  height: 32px;
}

.image { 
  max-width: 100%;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.row--wrap {
  flex-wrap: wrap;
}

.row--spacious {
  display: flex;
  align-items: center;
  gap: 1em;
}

.rowitem--right {
  margin-left: auto;
}

.main-header {
  padding: 0.4em var(--side-padding);
  border-bottom: 1px solid var(--light-color);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 100%;
}

.secondary-header {
  padding: 0 var(--side-padding);
  border-bottom: 1px solid lightgrey;
}

.navbar__brand {
  font-weight: bold;
}

.navbar__group {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__avatar {
  border-radius: 50%;
}

.navbar__group--right {
  margin-left: auto;
}

.navbar__link {
  color: var(--dark-grey);
}

.main__header {
  margin-top: 1em;
}

.main__title {
  margin: 0;
  color: var(--dark-grey)
}

.feed__navbaritem {
  padding: 0.45em 0em 0.45em 0em;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.feed__navbaritem--active {
  border-bottom: 2px solid var(--accent)
}

.feed__header {
  margin-top: 1em;
}

.feed__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.feed__item {
  border-bottom: 1px solid lightgrey;
}

.entry {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.feed__pagenav {
  display: flex;
}

.feed__prevlink {
  margin-right: auto;
}

.entry__published {
  font-style: italic;
}

.entry__title {
  margin-top: 0.25em;
}

.entry__titlelink {
  color: var(--color);
}

.entry__photo {
  max-width: 100%;
}

.entry__footer {
  margin-top: 1em;
}

.entry__footerline {
  margin-top: 0.5em;
}

.wm-counter {
  color: grey; 
}

.wm-group {
  margin-top: 5em;
  border-top: 1px solid lightgrey;
}

.main { 
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5em var(--side-padding) 0.5em var(--side-padding);
}

.main-footer__content {
  max-width: 100%;
  margin: 0 auto;
  padding: 2em 0.5em 2em 0.5em;
}

.cite {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 3px solid;
  border-color: lightgrey;
}

.link-context {
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
}

.link-context__unfurl {
  width: 100%;
}

.link-context__indieweb_context {
  width: 100%;
}

.wm-group {
  margin-top: 2em;
}

.wm-group--list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.wm-group--mention-item {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-top: 1px solid lightgrey;
}

.wm-group--mention-item:first-child {
  padding-top: 0;
  border-top: 0;
}

.wm-group--item {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.wm-group--item:first-child {
  padding-top: 0;
}

.wm-group--content {
  margin-top: 1em;
}

.tag-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tag-list__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightgrey;
}
.archive-year-list {
  list-style: none;
  padding: 0;
}

.archive-month-list {
  list-style: none;
}
.archive-year-list__year-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightgrey;
}

.archive-month-list__month-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightgrey;
}
