@media only screen and (min-width : 768px) {
    :root {
        --width: 750px;
    }
    /*
    body {
        font-size: 1.075em;
    }
   */
    .navbar { 
        max-width: var(--width);
        margin: 0 auto;
    }

    .main { 
        max-width: var(--width);
        padding: 0;
    }

    .feed__navname {
        display: inline;
    }


    .main-footer__content {
        max-width: var(--width);
    }
  
}
