@media only screen and (min-width : 768px) {
    :root {
        --width: 750px;
    }

    .navbar {
      /*
      max-width: var(--width);
      */
        margin: 0 auto;
    }

    .main { 
        max-width: var(--width);
        padding: 0.5em var(--side-padding);
    }

    .feed__navname {
        display: inline;
    }


    .feed-extra__label {
        display: inline;
    }

    .main-header {
        padding: 1em var(--side-padding);
        font-size: var(--font-size-bigger);
    }

    .main-footer__content {
        max-width: var(--width);
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
    }
}
