:root {
    /* background and text color.  Needs to be fairly high contrast */
    --background-color: rgb(255, 255, 255);
    --color: rgb(80, 80, 80);

    /* as the name says, still used for text, but for things that are less important */
    --lighter-color: rgb(150, 150, 150);

    /* a lighter text color for seperators, etc.  TOO LIGHT FOR TEXT */
    --lightest-color: rgb(211, 211, 211);
  
    /* this could be used for the headings, if the text color is very light */
    --dark-color: rgb(75, 75, 75);
    
    --accent: #1983e6;
    --light-accent: #dceeff;
    
    --complement: #E67C19;
}
