---
permalink: "{{ pagination.items[0].permalink }}/index.html"
pagination:
  data: archiveIndexData
  size: 1
eleventyComputed:
  title: "{{pagination.items[0].title}}"
archiveIndexData:
- title: Archives (Links)
  permalink: /posts/bookmarks/archives/
  archiveUrlPrefix: /posts/bookmarks
  collection: bookmarks
- title: Archives (Blog)
  permalink: /posts/blog/archives/
  archiveUrlPrefix: /posts/blog
  collection: blog
- title: Archives (Updates)
  permalink: /posts/updates/archives/
  archiveUrlPrefix: /posts/updates
  collection: updates
- title: Archives (All)
  permalink: /posts/archives/
  archiveUrlPrefix:
  collection: all
---
{% set metadata = pagination.items[0]%}

{% extends "blogbase.njk" %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block content %} 
<main class="main">
<header class="main__header">  
  <div class="row">
    <h1>{{ metadata.title }}</h1>
  </div>
</header>
<ul class="archive-year-list">
  {% for year in collections[metadata.collection + '_archiveList'] %}
  {% set yearUrl %}/{{ year.year }}/{% endset %}

  <li class="archive-year-list__year-item row">
    <a href="{{metadata.archiveUrlPrefix}}{{ yearUrl | url }}">{{ year.year }}</a> <span class="row__item--right">{{ year.count }}</span>
  </li>

  <li class="archive-year-list__months-item">
    <ul class="archive-month-list">
      {% for month in year.months %}
      {% set monthUrl %}/{{ year.year }}/{{ month.month }}/{% endset %}

      <li class="archive-month-list__month-item row">
        <a href="{{metadata.archiveUrlPrefix}}{{ monthUrl | url }}">{{ month.month | monthname }}</a> <span class="row__item--right">{{ month.count }}</span>
      </li>

      {% endfor %}
    </ul>
  </li>

  {% endfor %}
</ul>
</main>
{% endblock content %}
