---json
{
  "pagination": {
    "data": "feedData",
    "size": 1
  },
  "permalink": "{{pagination.items[0].permalink}}",
  "eleventyExcludeFromCollections": true,
  "author": {
    "name": "Desmond Rivet",
    "email": "desmond.rivet@gmail.com"
  },
  "feedUrlPrefix": "https://desmondrivet.com",
  "feedData": [
    {
      "collection": "allPosts",
      "permalink": "posts/feed_all.xml",
      "title":  "Desmond Rivet - All Posts",
      "subtitle": "The firehose of all my posts",
      "url": "https://desmondrivet.com/posts/"
    },
    {
      "collection": "allPosts",
      "permalink": "feeds/all.rss",
      "title":  "Desmond Rivet - All Posts",
      "subtitle": "The firehose of all my posts",
      "url": "https://desmondrivet.com/posts/"
    },
    {
      "collection": "lifestream",
      "permalink": "posts/feed_lifestream.xml",
      "title":  "Desmond Rivet - Lifestream",
      "subtitle": "My lifestream, or original content.  Articles, notes, photos, etc.",
      "url": "https://desmondrivet.com/posts/lifestream/"
    },
    {
      "collection": "articles",
      "permalink": "posts/feed_articles.xml",
      "title":  "Desmond Rivet - Blog",
      "subtitle": "My old school blog",
      "url": "https://desmondrivet.com/posts/articles/"
    },
    {
      "collection": "bookmarks",
      "permalink": "posts/feed_bookmarks.xml",
      "title":  "Desmond Rivet - Links",
      "subtitle": "My bookmarks, for reading later",
      "url": "https://desmondrivet.com/posts/bookmarks/"
    },
    {
      "collection": "notes",
      "permalink": "posts/feed_notes.xml",
      "title":  "Desmond Rivet - Notes",
      "subtitle": "Random, small, titleless thoughts",
      "url": "https://desmondrivet.com/posts/notes/"
    },
    {
      "collection": "photos",
      "permalink": "posts/feed_photos.xml",
      "title":  "Desmond Rivet - Photos",
      "subtitle": "Random photos I have taken",
      "url": "https://desmondrivet.com/posts/photos/"
    }, 
    {
      "collection": "albums",
      "permalink": "posts/feed_albums.xml",
      "title":  "Desmond Rivet - Albums",
      "subtitle": "My curated photo albums",
      "url": "https://desmondrivet.com/posts/albums/"
    },
    {
      "collection": "replies",
      "permalink": "posts/feed_replies.xml",
      "title":  "Desmond Rivet - Replies",
      "subtitle": "Random comments on things I read on the web",
      "url": "https://desmondrivet.com/posts/replies/"
    },
    {
      "collection": "reposts",
      "permalink": "posts/feed_reposts.xml",
      "title":  "Desmond Rivet - Reposts",
      "subtitle": "Random reposts",
      "url": "https://desmondrivet.com/posts/reposts/"
    },
    {
      "collection": "likes",
      "permalink": "posts/feed_likes.xml",
      "title":  "Desmond Rivet - Likes",
      "subtitle": "Stuff I have liked on the web",
      "url": "https://desmondrivet.com/posts/likes/"
    },
    {
      "collection": "recipes",
      "permalink": "recipes/feed.xml",
      "title":  "Desmond Rivet - Recipes",
      "subtitle": "Recipes I have collected",
      "url": "https://desmondrivet.com/recipes/"
    }
  ]
}
---
{% set metadata = pagination.items[0] %}
{%- from "reflink.njk" import reflink -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  {% if metadata.subtitle %}
  <subtitle>{{ metadata.subtitle }}</subtitle>
  {% endif %}
  <icon>{{global.URL}}{{ global.FAVICON }}</icon>
  <link href="{{ feedUrlPrefix }}/{{metadata.permalink}}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections[metadata.collection] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ author.name }}</name>
    <email>{{ author.email }}</email>
  </author>
  {%- for post in collections[metadata.collection].slice(0, 25) %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) | stripExt }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl  }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}

        <![CDATA[
        {{ reflink(post.data.postType, post.data.referencedLink) }}

        {% set photoCount = post.data.photo | length %}
        {% set album = post.data.postType == 'album' %}

        {% if photoCount > 1 %}
        <p><{{ photoCount }} photos</p>
        {% endif %}

        {% if album %}
          {% set albums = collections.all | eleventyNavigation(post.data.eleventyNavigation.key) %}
          {% set albumCount = albums | length %}  
          {% if albumCount > 1 %}
          <p>{{ albumCount }} albums</p>
          {% endif %}
          {% atomImage post.data.featured.value, post.data.featured.alt %}
        {% elif photoCount > 0 %}
          {% set photoObj = post.data.photo[0] %}
          {% atomImage photoObj.value | d(photoObj), photoObj.alt | d('') %}
        {% endif %}
        ]]>
    </content>
  </entry>
  {%- endfor %}
</feed>
