---
permalink: /lunridx-posts.json
---

{% set idx = '' | searchPostsInit %}
{% for post in collections.allPosts %}
{% set dummy = post | searchPostsIdx(post.content, idx) %}
{% endfor %}

{{ idx | dump | safe }}
