---
permalink: /lunridx-recipes.json
---

{% set idx = '' | searchRecipesInit %}
{% for post in collections.recipes %}
{% set dummy = post | searchRecipesIdx(post.content, idx) %}
{% endfor %}

{{ idx | dump | safe }}
