---
pagination:
  data: collections.albumImages
  size: 1
  alias: p
permalink: "{{ p.permalink }}.html"
eleventyComputed:
  title: "{{p.title}} / {{p.slug}}"
---
{% extends "base.njk" %}
{% from "entry-header.njk" import entryheader %}
{% block extrastyle %}
<link href="{{ '/static/albumImage.css' | cachebust(global.URL, 'src/static/albumImage.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
{% set date = p.date %}
<main class="main">
<div class="h-entry entry">
    
  {% for mention in bridgyMentions %}
  <a href="{{ mention }}"></a>
  {% endfor %}

  <header class="entry__header {{'entry__header--top' }}">
      <a href="/" class="u-author"></a>
      <span class="entry__headerline row row--spacious">
          <a class="entry__published dt-published" href="{{ page.url | stripExt }}">{{ date | date  }}</a>
      </span>

      <h1 class="entry__title p-name">
        <a href="{{ p.albumUrl | stripExt }}" class="entry__titlelink">{{ p.title }}</a> / {{ p.index0 + 1}} of {{ p.total }}
      </h1>

      <p class="entry__imagenav">
      {% if p.prevLink %}
      <a href="{{p.prevLink}}" title="Previous"><i class="fa fa-chevron-circle-left"></i></a>
      {% else %}
      <span title="Previous"><i class="fa fa-chevron-circle-left"></i></span>
      {% endif %}

      {% if p.nextLink %}
      <a href="{{p.nextLink}}" title="Next"><i class="fa fa-chevron-circle-right"></i></a>
      {% else %}
      <span title="Next"><i class="fa fa-chevron-circle-right"></i></span>
      {% endif %}
     
      <a href="{{p.photo.value}}" title="Download {{p.photo.value}}"><i class="fa fa-chevron-circle-down"></i></a>
       </p>
  </header>

  <div class="e-content entry__content">
    {{ content | safe }}
    {% largeImage p.photo.value, p.photo.alt or "album photo`", "u-featured u-photo entry__photo image" %}
   </div>
   
   {% set url = page.url | stripExt %}
   {% set discussion = url | discussionForUrl(allstaticman, webmentions.children) %}
   {% include "entry-footer.njk" %}
   {% include "discussion.njk" %}

</div>
</main>
{% endblock %}
