---
pagination:
  data: collections.albumImages
  size: 1
  alias: p
permalink: "{{ p.permalink }}.html"
breadcumbOptions:
  listClass: breadcrumbs
  listItemClass: breadcrumbs__item
  anchorClass: breadcrumbs__anchor
scripts:
- type: text/javascript
  src: /static/js/swiped-events.min.js
---
{% extends "base.njk" %}
{% from "entry-header.njk" import entryheader %}

{% block extrastyle %}
<link href="{{ '/static/albumImage.css' | cachebust(global.URL, 'static/albumImage.css')}}" rel="stylesheet">
{% endblock %}

{% block metadata %}
<meta name="description" content="" />
<meta property="og:site_name" content="{{ global.SITENAME }}" />
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ p.title }}"/>
<meta property="og:url" content="{{ page.url }}"/>
<meta property="og:description" content="" />
<meta property="og:image" content="{{ p.photo.value | aUrl }}"/> 
{% endblock %}

{% block underbody %}

<script>
   {% if p.prevLink %}
   document.addEventListener('swiped-right', function(e) { 
   
     window.location.href = '{{ p.prevLink}}';
   });
   {% endif %}

   {% if p.nextLink %}
   document.addEventListener('swiped-left', function(e) {

     window.location.href = '{{ p.nextLink }}';
   });  
   {% endif %}

</script>

{% endblock %}

{% block content %}
{% set date = p.date %}
<main class="main">
<div class="h-entry entry">
    
  {% for mention in bridgyMentions %}
  <a href="{{ mention }}"></a>
  {% endfor %}

  <header class="entry__header entry__header--top">
      <a href="/" class="u-author"></a>

      <span class="entry__headerline row row--spacious"> 
        <a href="/posts/albums" class="navbar__link row row--comfy" title="Albums"> <i class="fa fa-camera"></i></a>
        <a class="entry__published dt-published" href="{{ page.url | stripExt }}">{{ date | date  }}</a>
      </span>
     
      <h1 class="entry__title p-name">
        <a href="{{ p.albumUrl | stripExt }}" class="entry__titlelink">{{ p.title }}</a>
      </h1>
    
      Posted in {{ collections.allAlbums | eleventyNavigationBreadcrumb(p.albumKey, { includeSelf: true }) | eleventyNavigationToHtml(breadcumbOptions) | safe }}
     
      <p class="entry__imagenav">
        {% if p.prevLink %}
        <a href="{{p.prevLink}}" title="Previous" class="entry__imagenavctrl entry__prevctrl"><i class="fa fa-angle-double-left"></i> Previous</a>
        {% else %}
        <span title="Previous" class="entry__imagenavctrl entry__prevctrl"><i class="fa fa-angle-double-left"></i> Previous</span>
        {% endif %}

        <a href="{{p.photo.value}}" title="Download {{p.photo.value}}" class="entry__imagenavctrl entry__downctrl"><i class="fa fa-angle-double-down"></i> Download</a>

        {% if p.nextLink %}
        <a href="{{p.nextLink}}" title="Next" class="entry__imagenavctrl entry__nextctrl">Next <i class="fa fa-angle-double-right"></i></a>
        {% else %}
        <span title="Next" class="imagenavctrl entry__nextctrl">Next <i class="fa fa-angle-double-right"></i></span>
        {% endif %}
      </p>
  </header>

  <div class="e-content entry__content">
    <div class="text">  
      {{ content | safe }}
    </div>
    {% largeImage p.photo.value, p.photo.alt or "album photo`", "u-featured u-photo entry__photo image" %}
   </div>
   
   {% set url = page.url | stripExt %}
   {% set discussion = url | discussionForUrl(allstaticman, webmentions.children) %}
   {% include "entry-footer.njk" %}
   {% include "discussion.njk" %}

</div>
</main>
{% endblock %}
