---
pagination:
  data: collections.albumTree
  size: 1
  alias: p
permalink: false
layout: "collection.njk"
eleventyComputed:
  title: "{{ p.title }}"
---

<p>{{p.description}}</p>

<ul class="content-list">
{% for a in p.albums | sort(false, false, 'date')%}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
  <h2 class="entry__title p-name"><a href="{{a.permalink}}" class="entry__titlelink">{{a.title}}</a></h2>
  <p>
    {{ a.description }}
  </p>
  <p>

    {% if a.photos %}
    <a href="{{a.permalink}}">{{ a.photos}} photos</a>
    {% else %}
     <a href="{{a.permalink}}">{{ a.albums | length }} albums</a>
    {% endif %}
  </p>

  {% if a.featured %}
  {% image a.featured.value, a.featured.alt, 'u-featured entry__photo image' %}
  {% endif %}
</li>
{% endfor %}
</ul>
