---
title: Albums
description: |
  <p>I'm not a great photographer, but I do occasionally take a good shot.  This
  is a curated set of my favorite photos that I've taken over the years.</p>

  <p>I also maintain a  <a href="/posts/photos/">photo feed</a> of more 
  off-the cuff, less processed photos.</p>
pagination:
  data: collections.albums
  size: 25
permalink: "/posts/albums/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_albums.xml"
tagurl: "/posts/albums/tags/"
archiveurl: "/posts/albums/archives/"
navname: albums
entrytemplate: "post-entry.njk"
secondarynav: true
---
