---
title: Likes
description: |
  A collection of posts of which I've explicitly approved.
pagination:
  data: collections.likes
  size: 25
permalink: "/posts/likes/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_likes.xml"
tagurl: "/posts/likes/tags/"
archiveurl: "/posts/likes/archives/"
navname: likes
entrytemplate: "post-entry.njk"
---
