---
title: Likes
description: |
  A collection of posts of which I've explicitly approved.
pagination:
  data: collections.likes
  size: 25
permalink: "/posts/likes/index{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}{% endif %}.html"
layout: "feed.njk"
rss: "/posts/feed_likes.xml"
tagurl: "/posts/likes/tags/"
archiveurl: "/posts/likes/archives/"
navname: likes
---

<ul class="content-list">
{% asyncEach post in pagination.items %}
<li class="content-list__item content-list__item--separator content-list__item--spacious">
{% include "post-entry.njk" %}
</li>
{% endeach %}
</ul>
{% include "pagination-nav.njk" %}
